/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #007bff;
    background-color: #fff;
}

select {
    appearance: none;
    cursor: pointer;
}

.result {
    background-color: #007bff;
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.result h2 {
    font-size: 1.5rem;
    margin: 0;
}

#outputValue {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
}
